head {
  padding-top: 70px;
}
.navbar.navbar-inverse {
  border: none;
  border-radius: 0;
}
.navbar .navbar-brand {
  padding-top: 10px;
  padding-left: 130px;
}

.navbar .navbar-brand img {
  height: 30px;
}

.navbar .navbar-text {
	font-size: 20px;
	margin-top:10px;
	margin-left: 5px;
	color: white;
}

.navbar .navbar-right {
	padding-top: 14px;
	padding-left: 775px;
}

body {
    background-image: url("fractal-azul-6.png");
    background-position: 50% -60%;
    background-repeat: no-repeat;
 	background-size: 45%;   
}

a {
	color: black;
}

.login-text {
	height: 6vh;
	width: 33vw;
	background-color: #00B0CA;
	padding-top: 4px;
	color: white;
	font-size: 22px;
}

.form-group {
	margin-top: 40px;
	margin-left: 70px;
	margin-right: 50px;
	padding-right: 0px;
	padding-left: 0px;
}

#inputUsername, #inputPassword {
	border-radius: 0px;
	border-color: #00B0CA;
	height: 5vh;
}

.btn.btn-signin {
	width: 120px;
	border-radius: 0px;
	background-color: #00B0CA;
	color: white;
}


.container.main {
	height: 45vh;	
	margin-top: 150px;
	padding-left: 0%;
	border: solid #00B0CA;
	background-image: url("white_new.png"); 
}

.navbar.navbar-inverse {
	margin:0;
}



#btnreupload{
	background-color: #FFA100;
	color:white;
	border-color: none;
}

#btndelete{
	background-color: #E21776;
	color:white;
	border-color: none;

}

#btnexport{
	background-color: #C3CD05;
	color:white;
	border-color: none;
}

.nav{
	padding-top: 10px;
	padding-left: 12px;
	padding-right: 12px;
}